header {
  background-color: #333;
  color: white;
  padding: 20px 0;
  position: sticky; 
  top: 0;
  z-index: 1000;
}

main {
  padding-top: 80px; 
}

.container {
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 40px 20px 20px;
  color: gray;
}

.footer_container {
  display: flex;
  justify-content: center;   /* Center horizontally */
  align-items: center;       /* Center vertically inside the footer */
  color: gray;
  height: 80px;              /* Adjust as needed */
  position: fixed;           /* Stay at bottom of the page */
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9; /* Optional: background color */
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-links li a {
  text-decoration: none;
  color: gray;
  font-size: 1.1em;
  font-weight: bold;
}


.nav-links a:hover {
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.cursor {
  display: inline-block;
  color: #00e0ff;
  animation: blink 0.7s steps(1) infinite;
  font-weight: bold;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

