header {
  background-color: #eedbfd;
  color: white;
  padding: 20px 0;
  position: sticky; 
  top: 0;
  z-index: 1000;
  border-bottom: 3.5px solid #1175a7;
}

body {
  background-color: #1e102a;
  margin: 0 ;
}

main {
  padding-top: 80px; 
}

.container {
  margin: 0px auto;
  height: 80px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 40px 10px 20px;
  color: gray;
  font-size: 15px;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: -30px;
}

.footer_container {
  display: flex;
  justify-content: center;   
  align-items: center;       
  color: gray;
  height: 80px;              
  position: fixed;           
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eedbfd; 
  border-top: 3.5px solid #1175a7;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav-links li a {
  text-decoration: none;
  color: gray;
  font-size: 1.1em;
  font-weight: bold;
}


.nav-links a:hover {
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.cursor {
  display: inline-block;
  color: #00e0ff;
  animation: blink 0.7s steps(1) infinite;
  font-weight: bold;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

#profile-picture {
  margin-left: -70px;
}